h3{
    width: 500px;
    color: #52525A;
    font-size: 20px;
}
html{
    margin: 25px;
    background-color: #FAFAF9;
    /* font-size: 1.25rem; */
    font-family: "Inter", sans-serif;
    word-spacing: 5px; 
}
div{
    height: 170px;
    width: 300px;
    border: 2px solid;
    border-radius: 16px;
    border: transparent;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}
/* h3{  
    color: #52525A;
    font-size: 16px; 
} */
.boxone{
    position:fixed;
    right: 10%;
    top: 15%;
    background-color: #FFFFFF;
    font-size: 1rem;
}
.boxtwo{
    position:fixed;
    right: 25%;
    top: 50%;
    background-color: #FFFFFF;
    font-size: 1rem;
}
.img{
    height: 30px;
    width: 30px;
    border-radius: 80px;
    background-color: #F5C044;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxone h3,.boxtwo h3{
    margin-left: 16px;
    width: 250px;
    color: #52525A;
    font-size: 16px;
    
}
.boxone h2,.boxtwo h2{
    margin-left: 16px;
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 40px; */
}
ul i{
    margin: 0;
    margin-top: 15px;
    color: green;
}
ul li span{
    margin-left: 10px;
}
i{
    margin-top: 30px;
    margin-left: 16px;
}
span{
    font-weight: bold;
    margin-left: 2px;
}
h1{
    font-size: 2.25rem;
}
ul{
    padding: 0;
}
ul li{
    list-style-type: none;
    color: #52525A;
    font-size: 14px;
    font-weight: bold;
    word-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
